@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=Inter:wght@400;700&display=swap");
body {
  font-family: "Inter", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
code,
pre {
  font-family: "IBM Plex Mono", monospace;
}
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background: linear-gradient(135deg, #0f2027 0%, #232526 50%, #414345 100%);
  }
}
